---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import "/public/styles/blogIndex.css";
const allBlogPosts = await getCollection("blog");
import { DateTime } from "luxon";
import Layout from "../layouts/Layout.astro";
import dotenv from "dotenv";
dotenv.config();

const orderByDate = (a, b) => {
  const dateA = DateTime.fromFormat(a.data.createdAt, "dd/MM/yyyy").toJSDate();
  const dateB = DateTime.fromFormat(b.data.createdAt, "dd/MM/yyyy").toJSDate();
  return dateB - dateA;
};

const orderedPosts = allBlogPosts?.sort(orderByDate) || [];
const { BACKEND_URL } = process.env;
---

<Layout>
  <div class="posts-container">
    <div class="posts-grid">
      {
        orderedPosts?.map((post) => (
          <div
            class="post-item"
            id="post-item"
            data-slug={JSON.stringify(post.id)}
          >
            {post.data.cover && (
              <Image
                class={"post-image"}
                src={`${BACKEND_URL}/image/${post.data.cover}`}
                inferSize
                height={300}
                width={300}
                alt="cover image for posts"
              />
            )}
            <h3>
              {
                (post?.rendered?.metadata?.frontmatter as { title: string })
                  .title
              }
            </h3>
            <p class="post-tag">
              {
                (
                  post?.rendered?.metadata?.frontmatter as {
                    primaryTag: string;
                  }
                ).primaryTag
              }
            </p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<script lang="javascript">
  const posts = document.querySelectorAll("#post-item");

  posts.forEach((post) => {
    post.addEventListener("click", () => {
      const slug = JSON.parse(post.dataset.slug);
      const currentLocation = window.location.origin;
      const postUrl = `${currentLocation}/blog/${slug}.html`;
      return (window.location.href = postUrl);
    });
  });
</script>
